# application.yml
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/showroom_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate # Important: We use 'validate' since Flyway manages the schema
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    schemas: public
    validate-on-migrate: true
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha

  # Optional: Disable error handling endpoint documentation
  show-actuator: false

  # Optional: Package to scan
  packages-to-scan: com.challenge.showrooms.controller

jwt:
   secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
   expiration: 900 # 15 minutes